@import '../../styles/common';

.tags {
  border-top: 1px solid #B7C4C4;
  padding-top: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  @include desktop {
    border: none;
    padding: 0;
    align-items: center;
  }
}
