@import '../../styles/common';

.job-card {
  border-radius: 0.3125rem;
  background: #FFF;
  box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);

  @include desktop {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding: 2rem 2.5rem;
  }
  
  & > img {
    width: 3rem;
    height: 3rem;
    margin: -1.5rem 0 0.5rem 1.5rem;

    @include desktop {
      width: 5.5rem;
      height: 5.5rem;
      margin: 0;
    }
  }

  &--featured {
    border-left: 0.3125rem solid #5CA5A5;
  }
}

.inner {
  padding: 0 1.5rem 1.5rem 1.5rem;
  flex-grow: 1;

  @include desktop {
    padding: 0;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
  }
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.5625rem;
  margin-bottom: 1rem;

  @include desktop {
    margin: 0;
  }
}

.header {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.company {
  color: #5CA5A5;
  font-weight: 700;
  font-size: 0.8125rem;

  @include desktop {
    font-size: 1.125rem;
  }
}

.badges {
  display: flex;
  gap: 0.5rem;
}

.position {
  font-size: 0.9375rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: #2B3939;

  &:hover {
    color: #5CA5A5;
    cursor: pointer;
  }

  @include desktop {
    font-size: 1.375rem;
  }
}

ul.meta {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  li {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #7C8F8F;

    @include desktop {
      font-size: 1.125rem;
    }

    &::after {
      color: #B7C4C4;
      content: '\2022';
      display: inline-block;
      padding-left: 0.5rem;
    }

    &:last-child::after {
      content: '';
    }
  }
}
