@import './styles/reset';

body {
  background-color: #EFFAFA;
  font-family: 'League Spartan', Arial, Helvetica, sans-serif;
  font-weight: 500;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
